 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 47px;
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/Capture2.PNG");
}

.u-section-2 .u-sheet-1 {
  min-height: 343px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 172px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 177px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 266px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  margin: 46px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 262px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Capture21.PNG");
}

.u-section-4 .u-sheet-1 {
  min-height: 235px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 61px 269px 60px 358px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 99px;
  }

  .u-section-4 .u-text-1 {
    width: 425px;
    margin-left: 258px;
    margin-right: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 148px;
    margin-right: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 27px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
    margin-left: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 207px;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  margin: 45px 0 34px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 224px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 172px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 129px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 81px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/272684597_7376162885757651_1136307455506646933_n.jpg");
}

.u-section-6 .u-sheet-1 {
  min-height: 253px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  width: 562px;
  margin: 94px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 209px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 160px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 120px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 76px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 935px;
}

.u-section-7 .u-text-1 {
  font-size: 1.25rem;
  margin: 11px 0 60px;
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 135px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  width: 562px;
  margin: 21px auto 57px;
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin: 49px 0 58px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 694px;
}

.u-section-9 .u-image-1 {
  width: 570px;
  height: 559px;
  margin: 20px auto 0;
}

.u-section-9 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  width: 562px;
  margin: 20px auto 38px;
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-9 .u-image-1 {
    width: 540px;
    height: 530px;
  }

  .u-section-9 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-9 .u-image-1 {
    width: 340px;
    height: 334px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }
} .u-section-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/178988853_5851078454932776_2197015191845683049_n.jpg");
}

.u-section-10 .u-sheet-1 {
  min-height: 500px;
}

.u-section-10 .u-text-1 {
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
   .u-section-10 {
    background-position: 50% 50%;
  }

  .u-section-10 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 149px;
  }
}