 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 197px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 150px auto 11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 74px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 98px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 85px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 80px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 421px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 401px;
}

.u-section-2 .u-container-layout-1 {
  padding: 22px 0;
}

.u-section-2 .u-image-1 {
  width: 345px;
  height: 345px;
  margin: 24px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 401px;
}

.u-section-2 .u-container-layout-2 {
  padding: 22px 30px;
}

.u-section-2 .u-image-2 {
  width: 343px;
  height: 343px;
  margin: 24px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 331px;
  }

  .u-section-2 .u-image-1 {
    height: 309px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 331px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 40px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 254px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 254px;
  }

  .u-section-2 .u-image-2 {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 381px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 381px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 240px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 305px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 240px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 415px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 19px;
  margin-bottom: 19px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 390px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 351px;
  height: 307px;
  margin: 33px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 390px;
}

.u-section-3 .u-container-layout-2 {
  padding: 15px 30px;
}

.u-section-3 .u-image-2 {
  width: 342px;
  height: 307px;
  margin: 18px auto 0 75px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 322px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 322px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 68px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 247px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 340px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: 33px;
    margin-bottom: -15px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 371px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 510px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 532px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 234px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 305px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 321px;
  }

  .u-section-3 .u-image-2 {
    height: 327px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 415px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 19px;
  margin-bottom: 19px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 442px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 347px;
  height: 342px;
  margin: 33px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 390px;
}

.u-section-4 .u-container-layout-2 {
  padding: 15px 30px;
}

.u-section-4 .u-image-2 {
  width: 342px;
  height: 342px;
  margin: 18px auto 0 75px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 364px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 322px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 68px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 279px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 375px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-image-2 {
    margin-top: 33px;
    margin-bottom: -15px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 419px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 563px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 593px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 264px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 305px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 354px;
  }

  .u-section-4 .u-image-2 {
    height: 365px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 415px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 19px;
  margin-bottom: 19px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 442px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 347px;
  height: 347px;
  margin: 33px auto 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 390px;
}

.u-section-5 .u-container-layout-2 {
  padding: 15px 30px;
}

.u-section-5 .u-image-2 {
  width: 342px;
  height: 342px;
  margin: 18px auto 0 75px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 364px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 322px;
  }

  .u-section-5 .u-image-2 {
    margin-left: 68px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 279px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-image-2 {
    height: 347px;
    margin-top: 33px;
    margin-bottom: -15px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 419px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 570px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 601px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 264px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 305px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 359px;
  }

  .u-section-5 .u-image-2 {
    height: 370px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 448px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 19px;
  margin-bottom: 30px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 399px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  width: 347px;
  height: 342px;
  margin: 33px auto 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 399px;
}

.u-section-6 .u-container-layout-2 {
  padding: 15px 30px;
}

.u-section-6 .u-image-2 {
  width: 342px;
  height: 342px;
  margin: 18px auto 0 75px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 329px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 329px;
  }

  .u-section-6 .u-image-2 {
    margin-left: 68px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 252px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 252px;
  }

  .u-section-6 .u-image-2 {
    width: 300px;
    height: 300px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 378px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    width: 347px;
    margin-top: 29px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 238px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 305px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 238px;
  }

  .u-section-6 .u-image-2 {
    width: 320px;
    height: 277px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 448px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 19px;
  margin-bottom: 30px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 399px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-image-1 {
  width: 347px;
  height: 347px;
  margin: 33px auto 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 399px;
}

.u-section-7 .u-container-layout-2 {
  padding: 15px 30px;
}

.u-section-7 .u-image-2 {
  width: 342px;
  height: 342px;
  margin: 18px auto 0 75px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 329px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 329px;
  }

  .u-section-7 .u-image-2 {
    margin-left: 68px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 252px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-image-2 {
    height: 347px;
    margin-top: 33px;
    margin-bottom: -15px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 998px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 19px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 356px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 580px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-image-2 {
    height: 505px;
    width: 416px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 224px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 305px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 365px;
  }

  .u-section-7 .u-image-2 {
    height: 413px;
    width: 340px;
  }
}